/*** main structure ***/
body {
  margin: 2%;
  border: solid #000 1px;
}

header {
  background-color: #374960;
  padding: 10px;
  height: 70px;
}

header h2 {
  float: left;
  display: inline-block;
  margin: 12px 0 0 30px;
  font-size: 2.5em;
  padding: 0;
}

/*** header nav ***/
header nav {
  float: right;
  margin-right: 30px;
}

header nav li {
  display: inline-block;
  margin: 6px 0 0 20px;
  font-size: 1.5em;
}

/***  banners ***/
section.banner:first-of-type {
  background-image: url("../assets/hero.jpg");
}

section.banner:last-of-type {
  background-image: url("../assets/everybody.jpg");
  margin-top: 30px;
}

section.banner {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-size: 100%;
  background-position: 0 50%;
  height: 300px;
}

section.banner h1, section.banner h2 {
  font-size: 4em;
  margin-top: 90px;
  text-align: center;
  color: #fff;
}

/*** popular posts ***/
#popular-posts h2 {
  font-size: 2em;
  text-align: center;
}

.indent {
  width: 80%;
  margin: auto;
  /*border: solid #000 1px;*/
}

#popular-posts h3 {
  text-align: center;
  padding: 0 5px 15px;
  border-bottom: solid #000 1px;
}

#popular-posts article {
  border: solid #000 1px;
  border-radius: 10px;
  margin: 1% 1%;
  float: left;
  width: 31%;
  min-height: 300px;
  text-align: center;
}

#popular-posts a {
  display: block;
  margin: auto;
  text-align: center;
  border: solid #000 1px;
  width: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
}

#popular-posts article p:first-of-type {
  padding: 4%;
  min-height: 150px;
  text-align: justify;
}

#join-the-club {
  margin-top: 30px 0;
  padding: 20px 0;
}

#join-the-club section {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

#join-the-club p {
  text-align: justify;
}

#join-the-club img, footer nav {
  width: 48%;
  margin-left: 3%;
}

footer {
  padding: 10px 0;
}

#disclaimer h4, #disclaimer p {
  display: inline;
}

footer #disclaimer {
  float: left;
  width: 48%;
  font-size: .75em;
  text-align: justify;
}

footer nav {
  display: inline-block;
  width: 48%;
  margin-left: 3%;
}

/*** fonts ***/
a {
  text-decoration: none;
}

/*** floats ***/
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
