/*** main structure ***/
body {
  margin: 2%;
}

img {
  max-width: 100%;
}

header {
  border: solid #000 1px;
  padding: 10px;
  height: 70px;
}

header h2 {
  float: left;
  display: inline-block;
  margin-left: 30px;
}

/*** header nav ***/
header nav {
  float: right;
  margin-right: 30px;
}

header nav li {
  display: inline-block;
  line-height: 35px;
}

h1 {
  text-align: center;
  line-height: 35px;
}

/*** meowspace banner ***/
#meowspace {
  border: solid black 1px;
  background-image: url("../assets/hero.jpg");
  background-size: 100%;
  background-position: 0 50%;
  height: 250px;
}

#meowspace h1 {
  font-size: 4em;
  line-height: 2.6em;
}

/*** popular posts ***/
#popular-posts h2 {
  font-size: 2em;
  text-align: center;
}

.indent {
  width: 85%;
  margin: auto;
  /*border: solid #000 1px;*/
}

#popular-posts h3 {
  text-align: center;
  padding: 0 5px 15px;
  border-bottom: solid #000 1px;
}

#popular-posts article {
  position: relative;
  border: solid #000 1px;
  border-radius: 5px;
  margin: 1% 1%;
  float: left;
  width: 31%;
  min-height: 300px;
  text-align: center;
}

#popular-posts a {
  display: block;
  margin: auto;
  text-align: center;
  border: solid #000 1px;
  width: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 5px;
}

#popular-posts article p:first-of-type {
  padding: 2%;
  margin-bottom: 10px;
  min-height: 150px;
  text-align: justify;
}

/*** fonts ***/
a {
  text-decoration: none;
}

/*** floats ***/
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
